@model CategoryFormViewModel

<div>
    <h2>@Model.Title</h2>
    <hr>
    
    <div class="row">
        <div class="col-md-6">
            <form asp-action="@(Model.IsEdit ? "Edit" : "Create")" method="post">
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Category name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
